body
{
	font-family:monospace;
	background-color: rgb(255, 255, 255) ;
	background-position: right;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  /* container for hoverable images and descriptions*/
  .parent{
    position: relative;
    text-align: left;
    color: white;
  }

  /*basic state of image descriptions*/
  p.child {
    position: absolute;
    top: 45%;
    left: 15%;
    right: 25%;
    color: #000000;
    visibility: visible;
    opacity: 0;
  }

  /*basic state of images*/
  img.child {
    opacity: 1;
  }

  /* reponse when hovering over leadership images*/
  .parent:hover img.child{
    background-color: rgb(0, 0, 0);
    opacity: 0.30;
  }

  /* reponse when hovering over leadership description*/
  .parent:hover p.child {
    visibility: visible;
    opacity: 1;
    color: #000000;
  }

  h1 {
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    }

/*to do: add darkening and website designer to web design team; add extra section for advisors*/